.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

.navbar p:hover {
    color: aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

#header-index {
    color: #44453f;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; 
    width: 10%;
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

header, footer, body, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
    background-color: linen;
}

.comment {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.comments {
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
    display: block;
    position: static;
}

.slider {
    position: center;
    display: block;
}

.leftBtn {
    position: relative;
}

.pictureArea {
    left: 60px;
    top: -20px;
    height: 300px;
    position: relative;
}

.rightBtn {
    left: 815px;
    top: -320px;
    position: relative;
}

.border-shadow {
    box-shadow: 1px 1px 5px black;
    background-color: white;
    padding: 5px;
}

.pictureArea img {
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    padding: 5px;
    opacity: 0;
    transition: opacity .2s linear;
}


