<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script defer src="../Static/JS/about.js"></script>
</head>

<!--SIDEBAR-->

<body>
    <header id="header-index">
        <h1>LifeSpot - о проекте</h1>
        <p>Краткое описание проекта</p>
    </header>

    <!--SLIDER-->

    <div class="comments">
        <div>
            <p>Отзывы о сайте</p>
            <button onclick="askComment();">
                Оставить отзыв
            </button>
        </div>
    </div>
</body>

<!--FOOTER-->
</html>